@font-face {
  font-family: "iconfont"; /* Project id 3562394 */
  src: url('iconfont.woff2?t=1661759826489') format('woff2'),
       url('iconfont.woff?t=1661759826489') format('woff'),
       url('iconfont.ttf?t=1661759826489') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-multiple-y-chart:before {
  content: "\166f";
}

.icon-bar-chart:before {
  content: "\166a";
}

.icon-custom-chart:before {
  content: "\166b";
}

.icon-rounded-pie-chart:before {
  content: "\166c";
}

.icon-pie-chart:before {
  content: "\166d";
}

.icon-nested-pies-chart:before {
  content: "\166e";
}

.icon-line-chart:before {
  content: "\1670";
}

.icon-polar-histogram-chart:before {
  content: "\1671";
}

.icon-rose-chart:before {
  content: "\1672";
}

.icon-stacked-area-chart:before {
  content: "\1673";
}

.icon-stacked-bar-chart:before {
  content: "\1674";
}

.icon-funnel-chart:before {
  content: "\1675";
}

.icon-scatter-chart:before {
  content: "\1669";
}

