.gjs-trt-traits {
    .trait-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .gjs-field-wrp {
        margin: 2px;
    }

    .save-button-wrapper {
        width: 100%;

        .gjs-field {
            width: calc(100% - 12px);
        }
    }

    .btn {
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;

        &.btn-icon {
            font-size: 20px;
        }

        &.btn-full {
            width: 100%;
            font-size: 14px;
        }
    }
}
