
.gjs-trt-traits {

    .gjs-trt-trait.custom {
        padding: 5px;
    }

    .gjs-trt-trait {
        padding: 0;

        .gjs-sm-property {
            padding: 0;
        }

        .gjs-traits-content {
            padding: 0 10px;
        }

        .trait-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .gjs-field-wrp {
            margin: 0;
        }

        .gjs-traits-wrapper {
            margin: 2px;
        }

        .save-button-wrapper {
            width: 100%;

            .gjs-field {
                width: calc(100% - 12px);
            }
        }

        .gjs-field-text {
            display: inline-block;
            width: 100%;
        }

        .btn {
            background: transparent;
            border: none;
            cursor: pointer;
            color: #b9a5a6;
            font-family: Arial;

            //&.btn-icon {
            //    font-size: 20px;
            //}

            &.btn-full {
                width: 100%;
                font-size: 14px;
            }
        }

    }
}
